@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

 /* banner part */

.ban-img{
    position: relative;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 3%;
    filter: brightness(55%);
}

.h3{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    font-family: 'Merriweather', serif;
}

.h1{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: 'Merriweather', serif;
}

/* body section */

.about-texts{
    text-align: center;
    font-family:'Inter', sans-serif;
}

.h1-2{
    
    margin-top: 7%;
    font-size: 85px;
    color: #ff0000;
    font-weight: bold;
}

.para{
    margin-top: 50px;
    font-size: 22px;
    font-weight:510;
    color: #ff0000;
}

.h3-2{
    margin-top: 15px;
    font-size: 45px;
    font-weight: 600;
}


.nyp-img{
    height: 500px;
    margin-top: 60px;
}