@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

 /* banner part */

.ban-img{
    background-image: linear-gradient(rgba());
    position: relative;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 3%;
    filter: brightness(55%);  
}

.h3{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    font-family: 'Merriweather', serif;
}

.h1{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: 'Merriweather', serif;
}

/* body section */

.about-texts{
    text-align: center;
    font-family:'Inter', sans-serif;
}

.h1-2{
    
    margin-top: 7%;
    font-size: 85px;
    color: #ff0000;
    font-weight: bold;
}

.para{
    margin-top: 50px;
    font-size: 22px;
    font-weight:510;
    color: #ff0000;
}

.h3-2{
    margin-top: 15px;
    font-size: 45px;
    font-weight: 600;
}


.nyp-img{
    height: 500px;
    margin-top: 60px;
}

/* Next Part of body section */

.vector-img{
    background-image: url('./images/Vectorrr.png');
    background-repeat: no-repeat;
    margin-top: 150px;
    margin-left: 15%;
    height: 600px;
    width: 1440px;
    position: relative;
    
}

.vector-img > .h1-img{
    position: absolute;
    height: 600px;
    width: 1350px;
    margin-top: 0px;
    margin-bottom: 100%;
    color: white;
    font-size: 50px;
    border-radius: 3%;
    background-image: linear-gradient(to right,
    rgba(0,0,0,0.9) 20%,
    rgba(0,0,0,0.7) 40%,
    rgba(0,0,0,0.4) 70%,
    rgba(0,0,0,0) 100%);
    
}

.txt-ovr{
    position: absolute;
    color: white;
    font-size: 40px;
    margin-top: 80px;
    margin-left: 120px;
    line-height: 80px;
    letter-spacing: 7px;
    font-family: 'Merriweather', serif;
}

.para-ovr{
    position: absolute;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 100;
    margin-top: 330px;
    margin-left: 120px;
    line-height: 32px;
    font-family:'Inter', sans-serif;
}

 .btn-ovr{
    position: absolute;
    cursor: pointer; 
    top: 73%;
    left: 9%;
    color: white;
    padding: 16px 32px;
    font-size: 20px;
    font-family:'Inter', sans-serif;;
    
    
}

.img-24{
    position: absolute;
    margin-left: 59%;
    margin-top: 5%;

}