@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


.ban-img{
    position: relative;
    width: 80%;
    text-align: center;
    margin-left: 9%;
    margin-top: 3%;
    filter: brightness(55%);
}

.h3{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: white;
    
}

.h1{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    text-align: center;
    color: white;
}